* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

.row2>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .0) !important;
    padding-left: calc(var(--bs-gutter-x) * .0) !important;
    margin-top: var(--bs-gutter-y);
}

.clearfix {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.clearfix1 {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width:576px) {
    .top-main-div {
        display: none;
    }
}

.padding {
    padding-top: 12px;
}

.top-icon {
    /* border-right: 1px solid rgb(195, 195, 195); */
    font-size: 15px;
}

.top-icon2::after {
    content: " ";
    width: 1px;
    height: 15px;
    background: rgb(251, 251, 251);
    display: inline-block;
    margin: 0px 0px 0px 12px;
}

.top-icon::after {
    content: " ";
    width: 1px;
    height: 11px;
    background: rgb(251, 251, 251);
    display: inline-block;
    margin: 10px 0px 0px 10px;
}

/*-----------------------Navbr---------------------------*/
select {
    border: none;
    background: none;
    outline: none;
}

.nav-icon {
    border: 1px solid rgb(224, 223, 223);
    border-radius: 50%;
    box-shadow: 0px 0px 8px 2px rgb(224, 223, 223);
    font-size: 12px;
}


.f-icon-1 {
    font-size: 20px;
    background-color: #3D52A6;
    color: white;
    border-radius: 50%;
    padding: 10px;
}

.f-icon-2 {
    font-size: 20px;
    background-color: #58B1F7;
    color: white;
    border-radius: 50%;
    padding: 10px;
}

.f-icon-3 {
    font-size: 20px;
    background-color: #D9498C;
    color: white;
    border-radius: 50%;
    padding: 10px;
}

.f-icon-4 {
    font-size: 20px;
    background-color: #F62D3A;
    color: white;
    border-radius: 50%;
    padding: 10px;
}

.MultiCarousel {
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    position: relative;
}

.MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all;
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item>div {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background: #ffffff;
}

.MultiCarousel .leftLst,
.MultiCarousel .rightLst {
    position: absolute;
    border-radius: 50%;
    top: calc(50% - 20px);
}

.MultiCarousel .leftLst {
    left: 25px;
    top: 33.5%;
    color: black;
}

.MultiCarousel .rightLst {
    right: 25px;
    top: 33.5%;
    color: black;
}

.MultiCarousel .leftLst.over,
.MultiCarousel .rightLst.over {
    pointer-events: none;
    background: rgb(255, 255, 255);
}

.btn-primary2 {
    --bs-btn-color: rgb(0, 0, 0) !important;
    --bs-btn-bg: #ffffff !important;
    --bs-btn-border-color: #bdbaba !important;
    --bs-btn-hover-color: rgb(0, 0, 0) !important;
    --bs-btn-hover-bg: #ffffff !important;
    --bs-btn-hover-border-color: #bdbaba !important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: rgb(0, 0, 0) !important;
    --bs-btn-active-bg: #ffffff;
    --bs-btn-active-border-color: #bdbaba !important;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #ffffff !important;
    --bs-btn-disabled-border-color: #bdbaba !important;
}

/*---------------------------------------------------------------------------------------*/



.img-border-2 {
    border-radius: 15px 0px 0px 15px;
}

.s7-border {
    border: 1px solid rgb(234, 234, 234);
    border-radius: 15px;
}

.custom-search {
    position: relative;
    width: 300px;
}

.custom-search-input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 100px;
    padding: 18px 100px 18px 28px;
    line-height: 1;
    box-sizing: border-box;
    outline: none;
}

@media (max-width:492px) {
    .custom-search-input {
        display: none;
    }
}

.custom-search-botton {
    position: absolute;
    right: 12px;
    top: 3px;
    bottom: 3px;
    border: 0;
    background: #3B71FE;
    color: #fff;
    outline: none;
    margin: 0;
    padding: 0px 10px;
    border-radius: 100px;
    z-index: 2;
    padding-left: 20px;
    padding-right: 20px;

}


.footer-img {
    justify-content: flex-end;
}

@media (max-width:576px) {
    .footer-img {
        justify-content: flex-start;
    }
}

@media (max-width:323px) {
    .footer-icon {
        width: 14%;
        height: 10px;
    }
}

#mydiv1{
    display: block;
}

#mydiv2{
    display: none;
}

#mydiv3{
    display: none;
}

#mydiv4{
    display: none;
}

#mydiv5{
    display: none;
}

#mydiv6{
    display: none;
}

#mydiv7{
    display: none;
}

#mydiv8{
    display: none;
}